@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Http
@using Ekzakt.Utilities.Helpers

@{
    var karus = "karus";
}

<header class="header">
    <a href="/" title="Karus by Eric Jansen">
        <img class="img-fluid mx-auto" src="~/assets/karus-logo.svg" />
    </a>
    <p class="by">
        <span class="ks-@karus.GetRandomChar()-color">B</span>
        <span class="ks-@karus.GetRandomChar()-color">y</span>
        <span>&nbsp;</span>
        <span class="ks-@karus.GetRandomChar()-color">E</span>
        <span class="ks-@karus.GetRandomChar()-color">r</span>
        <span class="ks-@karus.GetRandomChar()-color">i</span>
        <span class="ks-@karus.GetRandomChar()-color">c</span>
        <span>&nbsp;</span>
        <span class="ks-@karus.GetRandomChar()-color">J</span>
        <span class="ks-@karus.GetRandomChar()-color">a</span>
        <span class="ks-@karus.GetRandomChar()-color">n</span>
        <span class="ks-@karus.GetRandomChar()-color">s</span>
        <span class="ks-@karus.GetRandomChar()-color">e</span>
        <span class="ks-@karus.GetRandomChar()-color">n</span>
    </p>
</header>
