@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Http

<header class="header py-4">
    <a href="/" title="Karus by Eric Jansen">
        <img class="img-fluid mx-auto" src="~/assets/karus-logo.svg" />
    </a>
    <p class="by">
        <span class="ks-k-color">B</span>
        <span class="ks-r-color">y</span>
        <span>&nbsp;</span>
        <span class="ks-a-color">E</span>
        <span class="ks-s-color">r</span>
        <span class="ks-r-color">i</span>
        <span class="ks-u-color">c</span>
        <span>&nbsp;</span>
        <span class="ks-r-color">J</span>
        <span class="ks-k-color">a</span>
        <span class="ks-a-color">n</span>
        <span class="ks-r-color">s</span>
        <span class="ks-u-color">e</span>
        <span class="ks-s-color">n</span>
    </p>
</header>
